@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@media screen and (min-width: 200px) and (max-width: 640px){

}

body{

    background-color: black;
    /*overflow: hidden;*/
    display: flex;
}
    
.fundo{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.barra_lateral{
    background-color: white;
    width: 143vh;
    height: 97vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo{
    background-color: aqua;
    min-width: 143vh;
    height: 47vw;
    display: flex;
    justify-content: center;
}

.usuario{
    width: 400px;
    height: 200px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.eu{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding-left: 10px;
    
}

.eutexto{
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: white;
    padding-bottom: 80px;
    background-color: red;
    width: 200px;
    height: 100px;

}

.botoes{
    width: 400px;
    height: 65%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    
}
.b1{
    width: 300px;
    height: 50px;
    border-radius: 20px;
}

.b2{
    width: 300px;
    height: 50px;
    border-radius: 20px;
}

.b3{
    width: 300px;
    height: 50px;
    border-radius: 20px;
}

.b4{
    width: 300px;
    height: 50px;
    border-radius: 20px;
}

.b5{
    width: 300px;
    height: 50px;
    border-radius: 20px;
}